
 html {
    font-size: 62.5%;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

  body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #3c4b64;
    margin: 0;
    padding: 0 !important;
    background: #EBEDEF;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  .container {
      max-width: var(--mainWidth);
  }

  .pagelg.container {
    max-width: 100%;
  }

.page {

    &__inner {
        margin-left: 25.6rem;
    }

    &__side {

    }

    &__content {
        background: #EBEDEF ;
        padding: 1rem;
        height: calc(100vh - 5rem);
        overflow-y: scroll;
        margin-top: 5.6rem;
        // box-shadow: 0 1px 1px 0 rgba(var(--elevation-base-color),.14),0 2px 1px -1px rgba(var(--elevation-base-color),.12),0 1px 3px 0 rgba(var(--elevation-base-color),.2);
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 25.6rem;
    height: 100vh;
    background: var(--colorMain);
    z-index: 99;

    &__heading {
        max-width: 4.6rem;
        margin: 0 auto;
        padding: 0.4rem 0;

        svg {
           width: 100%; 
        }
    }

    &__item {
        display: block;
        color: var(--colorWhite);
        padding: 1.3rem 2rem; 
        text-decoration: none;
        text-transform: none;
        transition: .3s all;
        cursor: pointer;

        &:hover {
            background: var(--colorIndigo);
            color: var(--colorWhite);
            text-decoration: none;
        }
    }

    &__group {
        background: #3C4B64;
    }
}

.page__inner.pagelg {
    margin: 0 !important;
}

.card {
    margin: 2rem 0;
    border-radius: .2rem;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
    }

    &__title {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        background-color: #fff;
    }

    &__login {
        max-width: 70rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        .card {
            box-shadow: 0 1px 1px 0 rgba(var(--elevation-base-color),.14),0 2px 1px -1px rgba(var(--elevation-base-color),.12),0 1px 3px 0 rgba(var(--elevation-base-color),.2);

        }
    }

    &__controls {
        max-width: 40rem;
        margin: 0 auto;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    &__control {
        width: 40%;
        // margin: 0 auto;
        &:first-child {
            width: auto;
        }
    }
}

.button__change {
    font-size: 17px;
}

.badge-success-custom {
    background: var(--colorIndigo);
    color: var(--colorWhite);
}

.badge-show {
    background: var(--colorGreen);
    color: var(--colorWhite);
}


body {
    position: relative;
    padding-bottom: 70px;
    min-height: 100vh;
}



.header-login{
    text-align: center;
    color: rgba(0, 0, 21, 0.5);

}

.navbar{
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.help-block{
    color: $red;
}

.button-block{
    margin-top: 15px
}

.input-answer{
    //margin: 5px 0;
}

.answer-block{
    position: relative;
    display: flex;
    margin: 7px 0;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.answer-block div.answer-block_item:first-child {
    margin-right: 5px;
}

.answer-block_item{
    width: 50%;
}

.delete-answer, .delete-permanently{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    font-size: 25px;
    color: $red;
    :hover{
        cursor: pointer;
        color: darken($red, 20%);
    }
}

.card-body {
    padding: 6rem 2rem !important;
}

.delete-permanently-show{
    position: relative;
}

.show-hide-password{
    position: absolute;
    right: 9px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.copy-password{
    position: absolute;
    right: 35px;
    top: 10px;
    font-size: 14px !important;
    cursor: pointer;
}
.copied-text{
    float: right;
    display: none;
    color: $green
}
.checked-salons{
    margin-top: 30px;
    display: block;
}

.checked-salons__item{
    display: inline-block;
    border: 1px solid lightgray;
    padding: 4px;
    border-radius: 10px;
    background: mediumspringgreen;
    font-weight: 500;
    margin-bottom: 5px;
    margin-right: 10px;
}

.checked-salons__delete{
    color: red;
    cursor: pointer;
}

.active.sidebar__item {
    background: hsla(0,0%,100%,.05);
}

.warning.request_status {
    background-color: #FEE3E2 !important;
}

.table {
    color: inherit !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 600;
}