// admin@gmail.com
// ZhL_TkG!UGd2u^kL

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


:root {
    --colorMain: #303C54;
    --colorIndigo: #5a50fa;
    // --colorIndigo: linear-gradient(45deg, #3023AE, #5354f9);
    --colorGreen: #2eb85c;
    --colorRed: #e55353;
    --colorGrey: rgba(0, 0, 0, 0.125);
    --colorWhite: #ffffff;
    --colorBlack: #333333;
    --colorOrange: #F1912C;
    --colorLightGrey: #F2F2F2;
    --colorDarkGrey: #828282;
    --elevation-base-color: 60,75,100;
    --mainWidth: 1170px;
    --shadow: 0px 4px 5px rgba(52, 62, 77, 0.15);
}

