.request {

    &__content {
        // padding: 1rem;
        display: flex;
    }

    &__sidebar {
        width: 60rem;
        border-right: .1rem solid var(--colorGrey);
        border-top: .1rem solid var(--colorGrey);
        
    } 
    
    &__title {
        margin: 2.5rem 0 1.5rem 0;
        padding: 0 1rem;
    }


}

.side-item {
    width: 100%;
    display: flex;
    align-items: baseline;
    padding: 1rem;

    &:nth-child(even) {
        background: #fafafa;
    }

    &__heading {
        margin-right: 1rem;
    }

    &__value {
        color: var(--colorIndigo);
        font-weight: 500;

        a {
            text-decoration: underline;
        }
    }
}

.messenger {
    width: 100%;
    &__chat {
        min-height: 40rem;
        border: .1rem solid var(--colorGrey);
    }

    &__textarea {

    }

    &__controls {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
    }

    &_send {
        width: 80%;
    }

}

.chat {
    background: #fafafa;
    padding: 2rem;
    height: 40rem;
    overflow-y: scroll;

    &__message {
        max-width: 70%;
        width: 100%;
        padding: 1.5rem 1rem;
        padding-right: 6rem;
        background: #E3E9F0;
        border-radius: .7rem;
        border-bottom-left-radius: 0;
        margin-bottom: 2rem;
    }
}

.incoming.chat__message {
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 6rem;
    background: #D9F3D5;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: 0;
}