.request {

    &__content {
        // padding: 1rem;
        display: flex;
    }

    &__sidebar {
        display: table;
        width: 35rem;
        
        border-top: .1rem solid var(--colorGrey);
        
    } 
    
    &__title {
        font-size: 1.4rem;
        margin: 2.5rem 0 1.5rem 0;
        padding: 0 1rem;
    }


}

.side-item {
    width: 100%;
    display: flex;
    align-items: baseline;
    padding: 1rem;

    &:nth-child(even) {
        background: #fafafa;
    }

    &__heading {
        font-size: 1.2rem;
        margin-right: 1rem;
    }

    &__value {
        font-size: 1.2rem;
        color: var(--colorIndigo);
        font-weight: 500;

        a {
            text-decoration: underline;
        }
    }
}

.messenger {
    width: 100%;
    border-left: .1rem solid var(--colorGrey);
    &__chat {
        min-height: 40rem;
        border: .1rem solid var(--colorGrey);
    }

    &__textarea {

    }

    &__controls {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        padding: 0 1rem;
    }

    &_send {
        max-width: 50rem;
        width: 100%;
    }

    &_upload {
        display: block;
        max-width: 100%;
        width: 15.5rem !important;
        text-align: center;
        margin: 0;
        white-space: nowrap;
    }

}

.chat {
    width: 100%;
    background: #fafafa url(../images/icons/logo-zov.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 2rem;
    height: 7vh;
    overflow-y: scroll;

    @media(min-width: 1440px) {
        height: 50vh;   
    }

    &::-webkit-scrollbar {
        display: none;
    }

    &__message {
        position: relative;
        max-width: 70%;
        width: fit-content;
        padding: 1.5rem;
        padding-left: 6rem;
        padding-bottom: 3.5rem;
        background: #E3E9F0;
        border-radius: 1.5rem;
        border-bottom-left-radius: 0;
        margin-bottom: 2rem;
     }

     &__time {
        position: absolute;
        bottom: 5px;
        left: 8px;
        font-size: 1.1rem;
        font-style: italic;
        color: rgba(0, 0, 21, 0.5);
     }
}

.mine.chat__message {
        background: #D9F3D5;
        padding-right: 6rem;
        padding-left: 2rem;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 0;
        margin-left: auto;
}

.mine.chat__message .chat__time {
    bottom: 5px;
    left: initial;
    right: 1rem;
}

#imagePreview {
    position: absolute;
    top: -74px;
    right: 12px;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fileNmaeOutput {
    width: 100%;
    position: absolute;
    top: -28px;
    right: 12px;
    width: auto;
    height: 70px;
    white-space: nowrap;
}